html {
    font-size: 62.5%;
    font-family: "Audiowide";
    color: #fcda05;
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

h3 {
    margin: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 2rem;
    background-color: #222831;
}

.navbar a {
    text-decoration: none;
    color: #fcda05;
}

a:hover {
    color: #ff4800;
}

.navbar li {
    display: inline-block;
 }
.parallax {
    background-image: url("../media/img/AlternativeImage.jpg");
    height: 100vh;
    min-height: 50rem;
    /*parallax scroling effect*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax div {
    height: fit-content;
 }
 
.border{
    color: #fcda05;
    padding: 1.8rem;
    font-size: 2.5rem;
    letter-spacing: 1rem;
}

.titulo {
    border: 0.3rem solid #fcda05;
    border-radius: 2rem;
    margin: 3rem 3rem 5rem 3rem;
}

.contenedor {
    padding: 5rem 8rem 8rem 8rem;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-1 {
    display: flex;
    justify-content: center;
    margin: 3rem;
    border: 0.3rem solid #fcda05;
    border-radius: 2rem;
   
}

.contenedor h4 {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.columnas {
    display: flex;
    justify-content: space-around;
    width: 95vw;
}

.next {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 2rem;
}

.logo {
    width: 10rem;
    border-radius: 2rem;
}


/*Utilidades*/

.fz-20 {
    font-size: 2rem;
}

.fz-40 {
    font-size: 4rem;
}