<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>the NorCal Time Trial Series</title>
</head>
<body>
  <header>
    <h1>Norcal Time Trial Series</h1>
     <img src="../asset/media/img/LOGO.png" alt="LOGO" width="75">
      <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
      </nav>
  </header>
  <div>
    <h2>Upcoming Events</h2>
    <img src="../asset/media/img/Image 2.png" alt="Foto Audi" width="75">
    <h2>Mission</h2>
    <p>To quote https://24hoursoflemons.com/:  
        “Racing shouldnt just be for rich idiots. Racing should be for all idiots.”
    </p>
    <h2>Vision</h2>
    <p>The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel racing.
    </p>
    <h2>General Information</h2>
    <p>The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech Raceway at Laguna Seca. Full safety equipment is required, and your car must pass technical inspection before you can compete.
    </p>
  </div>
</body>
</html>