<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../asset/styles/style1.css">
  <title>the NorCal Time Trial Series</title>
</head>
<body>
  <header class="site-header">
    <div>
      <h1>Norcal Time Trial Series</h1>
    </div>
  </header>
  <section>
    <div class="contenedor-titulo titulo">
      <h2>Contact</h2>
      <img class="logo" src="../asset/media/img/LOGO.png" alt="LOGO">
    </div>
    <div class="navegacion"> 
      <nav>
        <ul>
          <li class="button"><a href="./index.html">Home</a></li>
          <li class="button"><a class="dark" href="./about.html">About</a></li>
          <li class="button"><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="contenido fz-20">
      <h2>Mission</h2>
      <p>To quote https://24hoursoflemons.com/:  
      </p>
      <q>Racing shouldnt just be for rich idiots. Racing should be for all idiots.</q>
      <h2>Vision</h2>
      <p>The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel racing.
      </p>
      <h2>General Information</h2>
      <p>The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech Raceway at Laguna Seca. Full safety equipment is required, and your car must pass technical inspection before you can compete.
      </p>
    </div>
  </section>
</body>
</html>