<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../asset/styles/style2.css">
  <title>the NorCal Time Trial Series</title>
</head>
<body>
  <div class="apoyo fz-40">
    <h1 class="apoyo">Norcal Time Trial Series</h1>
  </div>
  <header class="site-header">
    <div> 
      <nav>
        <ul class="navegacion">
          <li><a class="boton boton-azul" href="./index.html">Home</a></li>
          <li><a class="boton boton-verde" href="./about.html">About</a></li>
          <li><a class="boton boton-azul"  href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="titulo">
    <h2>About NCTTS</h2>
  </div>
  <section class="contenido-80vw">
    <div>
      <img class="logo" src="../asset/media/img/LOGO.png" alt="LOGO">
    </div>
    <div class="fz-25 texto apoyo">
      <div>
        <h2>Mission</h2>
        <p>To quote https://24hoursoflemons.com/:  
        </p>
        <q>Racing shouldnt just be for rich idiots. Racing should be for all idiots.</q>
      </div>
      <div>
        <h2>Vision</h2>
        <p>The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel racing.
        </p>
      </div>
      <div>
        <h2>General Information</h2>
        <p>The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech Raceway at Laguna Seca. Full safety equipment is required, and your car must pass technical inspection before you can compete.
        </p>
      </div>
    </div>
  </section>
</body>
</html>