<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../asset/styles/style1.css">
  <title>the NorCal Time Trial Series</title>
</head>
<body>
  <header class="site-header">
    <div>
      <h1>Norcal Time Trial Series</h1>
    </div>
  </header>
  <section>
    <div class="contenedor-titulo titulo">
      <h2>Contact</h2>
      <img class="logo" src="../asset/media/img/LOGO.png" alt="LOGO">
    </div>
    <div class="navegacion"> 
      <nav>
        <ul>
          <li class="button"><a href="./index.html">Home</a></li>
          <li class="button"><a href="./about.html">About</a></li>
          <li class="button"><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="contenido fz-34">
      <p>Please email us at: <a href="mailto:info@nctts.org">info@nctts.org</a></p>
      <p>We will reply as quickly as we can.</p>
    </div>
  </section>
</body>
</html>