<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../asset/styles/style2.css">
  <title>the NorCal Time Trial Series</title>
</head>
<body>
  <div class="apoyo fz-45">
    <h1>Norcal Time Trial Series</h1>
  </div>
  <header class="site-header">
    <div> 
      <nav>
        <ul class="navegacion">
          <li class="button"><a class="boton boton-verde" href="./index.html">Home</a></li>
          <li class="button"><a class="boton boton-azul" href="./about.html">About</a></li>
          <li class="button"><a class="boton boton-azul"  href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="titulo">
    <h2>Upcoming Events</h2>
  </div>
  <div class="contenido">
    <img class="logo" src="../asset/media/img/LOGO.png" alt="LOGO">
    <dl>
      <dt>February 12</dt>
      <dd>Board Meeting</dd>

      <dt>February 25</dt>
      <dd>Drivers Zoom Meeting</dd>

      <dt>March 12</dt>
      <dd>First Event at Thunderhill!</dd>
    </dl>
  </div>
  <section>
  </section>
</body>
</html>